<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lecturer Dashboard</title>
</head>
<body>
<h1>Welcome, Lecturer!</h1>

<div th:if="${successMessage}" style="color: green;">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<a th:href="@{/lecturer/tickets}"><button>View Assigned Tickets</button></a>
<br><br>
<a th:href="@{/lecturer/responses}"><button>View My Responses</button></a>

</body>
</html>